[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test.git
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
