# IDE / venv
/.vscode/
/.venv/

# Python cache
**/__pycache__/

# Build artifacts
**/*.o
**/*.elf
**/*.bin
**/*.out
**/*.log
**/*.d
**/*.a

# Repo root build output
/main

# tools and work directories
/riscof_env/riscof_work/